<!DOCTYPE html>
<html>
<head>
    <title>GMWars</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="public/screen.css" />
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{application.google.apiKey}}&sensor=false"></script>
</head>
<body>
    <div id="map">
    </div>
</body>
</html>
