<!DOCTYPE html>
<html>
<head>
    <title>GMWars</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="public/screen.css" />
</head>
<body>
    <div id="map">
    </div>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{application.google.apiKey}}&sensor=false"></script>
    <script type="text/javascript">
      dojoConfig = {
        has: {
        },
        async: true,
        packages: [
          {
            name: "gmwars",
            location: location.pathname.replace(/\/[^/]+$/, '') + "/public/js"
          }
        ],
        deps: [
          "gmwars/application/application"
        ]
      };
    </script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/dojo/1.9.1/dojo/dojo.js" data-dojo-config="async: true"></script>

</body>
</html>
