<div class="player-window">
    <div class="name">
        <span class="label">${strings.playerName}</span>
        <span class="value" data-dojo-attach-point="_playerNameNode"></span>
    </div>
</div>
